/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --otherColor:white;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.navbar a{
    margin-left: 100px;
    font-size: 16px;
}
.navbar a:hover{
    color: var(--main-color);
    text-decoration-line: overline;
}
 .searchbar{
  
   border-radius: 20px; 
   background-color: var(--main-bg-color);
   margin-top: 40px;
   width: 320px;
   height: 49px;
   padding-left: 10px;
   box-sizing: border-box;
   
  
 }
 .search-city{
    display: flex;
    flex-direction: row;
    row-gap: 0;
    padding-left: 10px;
    align-items: center;
 }
.searchbar form input{
    height: 44px;
    width: 150px;
    border: var(--main-bg-color);
   
}
#locationDot{
    color: black;
    padding-right: 10px;
    height: 18px;
    width: 14px;
}
#searchBtn{
    background-color: var(--main-color);
    width: 132px;
    height: 49px;
    
    border-radius: 0 20px 20px 0;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 16px;
    
    
}


.searchbar.search-city a{
    height: 49px;
    width: 50px;
}
.filters{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
    width: 758px;
    padding:20px;
    margin-top: 40px;
    margin-left: 0;

}
.filters button{
    border-radius: 20px;
    font-weight: bold;
    border: var(--main-bg-color);
    cursor: pointer;
    text-align: center;
    padding: 10px;
    font-size: 16px;
}
.filters button:hover{
    background-color: var(--filter-bg-color);
}


.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}
.hebergement-cards{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    overflow: hidden;
    flex: 1,1,auto;
}
.hotel-card{
    width: 250px;
    height: 210px;
   
    border-radius: 20px;
    transition: 0.3s ease;
    padding: 5px;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    
}
.hotel-card img{
  object-fit: cover;
  width: 100%;
  height:124px;
  border-radius: 20px;


}

.hotel-card .card-title{
   margin-top: 4px;
   margin-bottom: 4px;
}
.hotel-card .card-subtitle{
    margin: 0;
}
.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}